apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-stable
  labels:
    app: webapp
    track: stable
spec:
  replicas: 9  # 90% of traffic ( 10  replicas in total )
  selector:
    matchLabels:
      app: webapp
      track: stable
  template:
    metadata:
      labels:
        app: webapp
        track: stable
    spec:
      containers:
      - name: nginx
        image: nginx:1.21
        ports:
        - containerPort: 80